:root {
    --button-font-color: #E5D5C5;
    --ctx--overlay-bg-color: #EDB680;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background-color: #6B5138;
    background-image: url("../assets/Wood_Background.jpg");
    font-family: Arial, Helvetica, sans-serif;
}

main{
    text-align: center;
    height: fit-content;
}

footer {
    display: block;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: #6B5138;
}

button {
    border-color: black;
    font-weight: bold;
}

button:hover {
    opacity: 0.5;
}

button:focus {
    outline: 0; 
}

.container {
    margin: 0;
}

header{
    background-color: #E5D5C5;
    top: 0;
    height: 100px;
    width: 100%;
}

header h1{
    width: 80%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

#left-panel {
    background-color: rgba(206, 109, 12, 0.459);
    padding: 20px;
    left: 0;
    width: calc(20% - 40px);
    float: left;
    display: relatic;
}

#right-panel {
    text-align: center;
    background-color: rgba(206, 109, 12, 0.459);
    padding: 20px;
    top: 100px;
    right: 0;
    height: 100%;
    width: calc(20% - 40px);
    float: right;
}

/* Overlay for the Game */

#canvas-overlay-container {
    position: absolute;
    font-size: large;
    border: 3px solid black;
    border-radius: 16px;
    padding: 10px;
    background-color: var(--ctx--overlay-bg-color);
    width: 350px;
    margin-left: auto; 
    margin-right: auto;
    left: 0;
    right: 0;
    top: 20%;
}

#username {
    background-color: var(--ctx--overlay-bg-color);
    border: 3px solid black;
    border-radius: 5px;
}

#username:focus {
    border-color: red;
    outline: 0;
}

#ai-selection {
    background-color: var(--ctx--overlay-bg-color);
    border: 3px solid black;
    border-radius: 5px;
}

#ai-selection:focus {
    outline: 0;
    border-color: red;
}

#canvas-overlay-container button{
    background-image: none;
    background-color: inherit;
    color: black;
    border-color: initial;
}

#start {
    border: 3px solid black;
    border-radius: 5px;
    padding: 2px;
}

input[name="color"] {
    background-color: #D2A83C;
}

#start:hover{
    border-color: red;
}

#error-noname {
    color: red;
    font-size: large;
    font-weight: bold;
}

/* End Overlay for the Game */

/* Game */

#game-content {
    display: inline-block;
    position: relative;
}

.game-wrapper {
    display: inline;
}

.canvas-container {
    text-align: center;
}

#my-canvas {
    z-index: 1;
    border: 20px solid black;
    border-radius: 20px;
    width: 600px;
    height: 600px;
}

#game-button-wrapper {
    width: 640px;
    height: 10px;
    margin-bottom: 10px;
}

#back {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.fas:hover {
    opacity: 0.5;
}

#advance {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

#sound {
    float: right;
}

/* End Game */

/* Menu buttons */

#menu-button-wrapper {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#menu-button-wrapper > ul{
    list-style: none;
}

#menu-button-wrapper > ul > li > button{
    background-image: url("../assets/Wood_Button_Background.jpg");
    background-color: black;
    width: 100%;
    font-size: 40px;
    color: var(--button-font-color);
    margin-bottom: 10px;
}

/* End Menu button */

/* Score Board */

.score-black-wrapper{
    margin-top: 10px;
}

.score-white-wrapper{
    margin-top: 10px;
}

.inline {
    display: inline;
}

.score-number {
    float: right;
    margin-right: 10px;
}

/* th {
    padding-left: 10px;
    padding-right: 10px;
} */

td > img{
    width: 40px;
}

hr {
    border-color: black;
    margin-top: 10px;
    margin-bottom: 20px;
}
/* End Score Board */
/* Gamelog */

/* #game-log {
    position: absolute;
    text-align: left;
    background-color: rgba(206, 109, 12, 0.459);
    padding: 20px;
    top: 100px;
    left: 0;
    height: 100%;
    width: calc(20% - 40px);
    float: right;
} */

#game-log-text {
    width: 100%;
    height: 40%;
    resize: none;
}
/* End of Gamelog */
/* Introduction */

#introcution-content{
    display: none;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: left;
}

.intro-img {
    width: 20%;
    float: left;
}

.piece-wrapper {
    display: block;
    height: fit-content;
    margin: 10px;
}

/* End Introduction */
/* Credits */

#credits-content {
    display: none;
}